
/* Styles out of 'Style' pages */
body {
  padding: 3rem 5rem;
}

.nav {
  padding-top: 0.75rem;
}

section:not([id]) {
  margin-bottom: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #A4BE89;
}

section.first-section {
  border-top: none;
}

.font-and-color {
  border-bottom: 1px solid #A4BE89;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 800px){
  body {
    padding: 2rem 1rem;
  }
}

/* Branding Page */

/* Citation Page */
section.citation {
  padding: 2rem 1rem 1rem 1rem;
  border-bottom: 1px solid #A4BE89;
}

.citation h2 {
  margin-bottom: 0;
}

.citation h4 {
  padding-top: 0.5rem;
}
  



.checkout-wrapper section {
  border: none;
  flex: 1 1 2em;
  margin-bottom: 0;
}

.checkout-style{
  padding: 0.5rem;
}
